<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
</head>
<body>
    <div id="input-form">
        <input placeholder="할 일 입력" v-model="message">
        <button v-on:click="addtodo"> 추가하기! </button>
        <ol id="todoList">
            <li v-for="todo in todos">
                <div id={{todo.id}}> {{todo.message}}</div>
                <button @click="successtodo('todo.id')">완료</button> 
                <button @click="deletetodo('todo.id')">삭제</button>
            </li>
        </ol>
    </div>
  
 
</body>
<script>
    const inputForm = new Vue({
        el: '#input-form',
        data:{
            message:"",
            todos: []
        },
        methods:{
            addtodo: function(){
                const id = this.todos.length;
                const message = this.message;
                const Value = {id:id,message:message};
                console.log(Value);
                this.todos.push(Value);
                this.message = "";
            },
            successtodo: function(id){
             
                

            },
            deletetodo: function(){

            }

        }
    })
    class Value{

        Value(id,message){
            
            
        }

    }
   

</script>
</html> 